<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Philippe Morel, Video and Media Specialist</title>
	{% load static %}
	<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
	<style>
	#sizzle{
	margin: auto;
	}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
	</head>
<body>

	<header>
		<nav>
			<ul id="nav">
				<a href="#bio"><li>Bio</li></a>
				<a href="#cv"><li>CV</li></a>
				<a href="#work"><li>My Work</li></a>
			</ul>
		</nav>
	</header>
	<div id="main">
	<h1 class="name">Philippe Morel</h1>
		<h2 class="contact">Contact Info:<br>Email:<span class="email">philippe.a.b.morel@gmail.com</span><br>Phone Number: 408-757-6605<br>San Francisco, CA</h2>
		<section id="social">
				<a href="https://www.linkedin.com/in/philippe-morel-0aaaa526/"><img src="{% static '2000px-Linkedin.svg.png' %}" class="social"></a>
		</section>
		<section id="bio">
			<p class="section_title">Bio</p>
			{% for offbio in offbios %}
			<p class="bio_text">{{offbio.bio|linebreaksbr}}</p>
			{% endfor %}
		</section>
		<section id="cv">
			<p class="section_title">CV</p>
				<iframe src="https://drive.google.com/file/d/17eA-qtkxe9usGVhuQA4frr4VseLKLCli/preview" width="640" height="480" allow="autoplay"></iframe>
		</section>
		<section id="sizzle">
			<div>
			<h1>Sizzle Reel</h1>
			<h2> Here is a short montage of my work.</h2>
			<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/572381175?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sizzle Reel.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			</div>
		</section>
	<section id="work">
		<div class='video'>
			<p class='video-title'>Outlier: the Donatus Awudu Story</p>
			<p class='video-role'>Director, Editor, Cinematographer</p>
			<p class='video-description'>Outlier was produced by Jimmy Eko-Acquah, and the two of us worked on this project from the very beginning. Jimmy wrote the story, cast the actors, and chose the locations. I arrived in Ghana and shot the whole feature-length movie in 11 days. Our production crew was just three of us, and I developed all of the cinematography on the fly.
After production, I edited it into a viable film, and we had some Ghanian editors contribute towards the end as well.</p>
			<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567300256?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Outlier the Movie_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
   </div>
		<hr>
		<div class='video'>
		<p class='video-title'>Animal Defender</p>
		<p class='video-role'>Director, Editor, Associate Producer</p>
		<p class='video-description'>Animal Defender was meant to be a reality TV show starring Stephen Sorrentino. Stephen and I developed the concept of the show which was supposed to be Animal Cops meets Operation Repo.
Stephen is a big animal rights guy, and the show would have shown him confronting animal abusers and saving the animals. We produced a sizzle reel to pitch to Animal Planet, but it didn't work out.
I assembled a crew with a 0$ budget and directed the production. We were able to pull off a decent sizzle reel.</p>
	<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567298903?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Animal Defender_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
	<hr>
	<div class='video'>
		<p class='video-title'>Ghana's Gold</p>
		 <p class='video-role'>Director, Editor, Producer</p>
		<p class='video-description'>Ghana's Gold: Cocoa is a documentary that I produced, directed, and edited myself. It served as my Master's thesis for the BECA program.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567299129?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ghanas Gold_Long_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
 </div>
	 <hr>
		<div class='video'>
			<p class='video-title'>Outlier the Documentary</p>
			<p class='video-role'>Director, Editor, Associate Producer</p>
			<p class='video-description'>This is the documentary that we made alongside the movie, Outlier: The Donatus Awudu Story.</p>
			<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567299662?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Outlier the Documentary_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<hr>
		<div class='video'>
			<p class='video-title'>Ghana's Gold - Short Version</p>
			<p class='video-role'>Producer, Director, Editor</p>
			<p class='video-description'>This is a version of Ghana's Gold: Cocoa that I made for BECAFest.</p>
			<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567299558?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ghanas Gold_Short_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	  </div>
		<hr>
		<div class='video'>
		<div class='video'>
			<p class='video-title'>Animal Defender - Teaser</p>
			<p class='video-role'>Director, Editor, Associate Producer</p>
			<p class='video-description'>This is a teaser for the Animal Defender pilot.</p>
			<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567299042?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Animal Defender_Short_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<hr>
	<div class='video'>
		<p class='video-title'>Professor Rabab Abdulhadi Legal Fund</p>
	  <p class='video-role'>Director, Editor</p>
		<p class='video-description'>This is a short promotional video defending Professor Rabab Abdulhadi Legal Fund. I did all the camera work.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/568628878?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Professor Rabab Abdulhadi Legal Fund"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
		<hr>
	<div class='video'>
		<p class='video-title'>Adam Mohammed's Story</p>
	  <p class='video-role'>Producer, Director, Editor</p>
		<p class='video-description'>Adam Mohammed is a Ghanaian forest ranger and conservationist. He arrests poachers and illegal loggers when he finds them, and he educates the local people on how to manage their cocoa farms.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/568628076?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Adam Mohammed Story"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
		<hr>
	<div class='video'>
		<p class='video-title'>Attah Kojo's Story</p>
	  <p class='video-role'>Producer, Director, Editor</p>
		<p class='video-description'>Attah Kojo has been farming cocoa for 30 to 40 years, and he has witnessed dramatic changes to his farms. He sees his yields declining and a proliferation of pests and fungus. He is skeptical that his farm will ever perform as it once had, and he fears that his entire community will suffer if this trend continues.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/568628324?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Attah Kojo&amp;#039;s Story"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
		<hr>
	<div class='video'>
		<p class='video-title'>George Hozi's Story</p>
	  <p class='video-role'>Producer, Director, Editor</p>
		<p class='video-description'>George Hozi is a young man who turned to cocoa farming because he couldn't find a job in his field. He recognizes the challenges that framing poses to his family's livelihood. In this video, he describes the trials and tribulations that come with farming cocoa in modern times.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/568628524?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="George Hozi&amp;#039;s Story"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
		<hr>
	<div class='video'>
		<p class='video-title'>James Tebi's Story</p>
	  <p class='video-role'>Producer, Director, Editor</p>
		<p class='video-description'>James Tebi is Ghanaian cocoa farmer. This video highlights his struggles with farming and his hope to give his children a better life.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/568628656?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="James Tebi&amp;#039;s Story"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
		<hr>
	<div class='video'>
		<p class='video-title'>ECOSF: Food for Thought</p>
	  <p class='video-role'>Director, Editor</p>
		<p class='video-description'>This is a promotional video I made for a local environmental organization called ECOSF. I was a graduate student at SFSU at the time.</p>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/567299055?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="ECOSF Food for Thought_For Upload.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
		<hr>
	<article>
		<header>
			<h4 id="webcasts_heading"><a href='https://www.nttbroadcasting.com/ntt-team'><span id="webcasts_first">Webcast Productions for NTT inc.</span></a><br>Click on a Video Below for a Recent Webcast I Produced/Directed<br>All Webcasts are Recorded Live and Unedited</h4>
		</header>

	<div id="webcasts">
		<p class='video-title'>BAAQMD - Mobile Source Committee, 2/27/2020</p>
    <iframe width="640" height="379" frameborder="0" allowfullscreen="true" src="https://baha.granicus.com/MediaPlayer.php?clip_id=6731&starttime=undefined&stoptime=undefined&autostart=0&embed=1"></iframe>
		<p class='video-title'>ABAG - Executive Board, 5/20/2021 </p>
		<iframe width="640" height="379" frameborder="0" allowfullscreen="true" src="https://baha.granicus.com/MediaPlayer.php?clip_id=8697&starttime=undefined&stoptime=undefined&autostart=0&embed=1"></iframe>
		<p class='video-title'>MTC - Metropolitan Transportation Commission, 10/23/2019</p>
		<iframe width="640" height="379" frameborder="0" allowfullscreen="true" src="https://baha.granicus.com/MediaPlayer.php?clip_id=6172&starttime=undefined&stoptime=undefined&autostart=0&embed=1"></iframe>
	</div>
	</article>

	</section>


	<footer>
		<p>Philippe Morel<br>Reach me at philippe.a.b.morel@gmail.com</p>
	</footer>
</div>
</body>

</html>
